@model APP_PARCIAL.Models.VENDEDOR

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Vendedor</h2>

<h3>¿Esta seguro de Eliminar este vendedor?</h3>
<div>
    <h4>VENDEDOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDE_VEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDE_VEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM_VEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_VEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APE_VEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APE_VEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIR_VEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIR_VEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEL_VEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEL_VEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDE_DIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDE_DIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COR_VEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COR_VEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUE_VEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUE_VEN)
        </dd>

    </dl>


    @using (Html.BeginForm("Delete", "Vendedor", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index" , new { @class = "btn btn-danger" })
        </div>
    }
</div>
