@model IEnumerable<APP_PARCIAL.Models.VENDEDOR>

@{
    ViewBag.Title = "Index";
}

<h2> Gestor de Vendedores</h2>


<br /><br />
<table class="table table-bordered table-striped" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDE_VEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOM_VEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APE_VEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIR_VEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEL_VEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDE_DIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COR_VEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUE_VEN)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IDE_VEN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOM_VEN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.APE_VEN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DIR_VEN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TEL_VEN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IDE_DIS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.COR_VEN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SUE_VEN)
    </td>
    
    <td>
        @Html.ActionLink("Actualizar", "Edit", new {  id = item.IDE_VEN  }) |
        @Html.ActionLink("Ver Detalle", "Details", new { id = item.IDE_VEN }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.IDE_VEN })
    </td>
</tr>
}

</table>
